@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Cretaceous Park!</h1>
    <p>Get to know a few of <a href="/animals">our animals</a> from the Cretaceous period!</p>
</div>
